{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include 'partials/_nav.html.twig' %}
<div class="profile">
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4 text-light">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#my-announces">My
                            announces</a>
                    </div>
                    <a class="list-group-item logout list-group-item-action text-danger" href="{{ path('app_logout') }}">Se
                        déconnecter</a>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="form-label">Prénom</label>
                                    <input type="text" name="firstName" class="form-control mb-1"
                                        value="{{ user.firstName }}" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nom</label>
                                    <input type="text" name="lastName" class="form-control" value="{{ user.lastName }}"
                                        readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="email" name="email" class="form-control mb-1" value="{{ user.email }}"
                                        readonly>
                                    {% if not user.isVerified %}
                                    <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="{{ path('resend_confirmation') }}">Resend confirmation</a>
                                    </div>
                                    {% else %}
                                    <div class="alert alert-success mt-3">
                                        Your email has been verified. ✅
                                    </div>
                                    {% endif %}

                                </div>
                                <a href="{{ path('app_update_profile') }}" class="btn btn-primary">Modifier le
                                    profil</a>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control" value="{{ user.password }}" readonly>
                                </div>
                                <a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary">Modifier mon
                                    mot de passe</a>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="my-announces">
                            <div class="card-body">
                                {% if annonces is empty %}
                                <p>Aucune annonce trouvée.</p>
                                {% else %}
                                <ul class="lst-announces">
                                    {% for annonce in annonces %}
                                    <li>
                                        <span>{{ annonce.title }}</span>
                                        <div class="buttons-ad">
                                            <a href="{{ path('app_update_ad', { id: annonce.id }) }}"><ion-icon
                                                    name="create-outline"></ion-icon></a>
                                            <a href="{{ path('app_delete', { id: annonce.id }) }}"><ion-icon
                                                    name="trash-outline"></ion-icon></a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <a href="{{ path('app_create_ad') }}" class="btn btn-primary">Ajouter une annonce</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}