{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
<div class="form-section">
    <div class="wrapper">
        <h1>Ajouter une annonce</h1>
        <p id="error-message"></p>
    
        {{ form_start(form, { 'method': 'post', 'enctype': 'multipart/form-data' }) }}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {{ form_errors(form) }}
            <div>
                <label for="firstname-input">
                    <ion-icon name="pencil-outline"></ion-icon>
                </label>
                {{ form_widget(form.title) }}
            </div>
            <div>
                <label for="firstname-input">
                    <ion-icon name="clipboard"></ion-icon>
                </label>
                {{ form_widget(form.description) }}
            </div>
            <div>
                <label for="firstname-input">
                    <ion-icon name="game-controller"></ion-icon>
                </label>
                {{ form_widget(form.category) }}
            </div>
            <div>
                <label for="firstname-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z" />
                    </svg>
                </label>
                {{ form_widget(form.author) }}
            </div>
            <div>
                <label for="firstname-input">
                    <ion-icon name="document"></ion-icon>
                </label>
                {{ form_widget(form.imageFile) }}
            </div>
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    
        <div class="button-primary">
            <a href="{{ path('app_index') }}">Retour aux annonces</a>
        </div>
    </div>
    
</div>
{% endblock %}
