{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }}{% endblock %}

{% block body %}
    <h1>Profil de {{ user.firstName }} {{ user.lastName }}</h1>
    <ul>
        <li><strong>Nom :</strong> {{ user.lastName }}</li>
        <li><strong>Prénom :</strong> {{ user.firstName }}</li>
        <li><strong>Email :</strong> {{ user.email }}</li>
    </ul>

    <div class="button-primary">
        <a href="{{ path('app_index') }}">Retour aux annonces</a>
    </div>
{% endblock %}